<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <section id="main-content">
      <div id="guts">
        <div id="project">

              <span class="quote">
                <%= f.select :company_name, Customer.all.map { |u| [u.company_name, u.company_name] }, { include_blank: true }, { class: 'chosen-select' } %>
                <%= link_to "New Customer", "", :onclick => "javascript:window.open('/customers/new','popup','width=960,height=900,scrollbars=yes');" %>
                <%= f.label :quote_status, "Status:", style: 'margin-left:110px' %> <%= f.select(:quote_status, options_for_select([['New', 'New'], ['Open', 'Open'], ['Approved', 'Approved'], ['Closed', 'Closed']])) %>
                </span>
        </div>

        <div id="customer-demographics">
          <h2><%= f.label :quote_information, "Quote Information" %></h2>
          <div class="field">
            <%= f.text_area :quote_information, :size => "39x14", class: "notes"  %>
          </div>
        </div>

        <div id="job-desc">
          <h2><%= f.label :production_notes %></h2>
          <div class="field">
            <%= f.text_area :production_notes, :size => "39x14", class: "notes"   %>
          </div>
        </div>

        <div id="dates"><h2 class="page-title">Critical Dates</h2>

          <div class="field">
            <%= f.label :quote_due_date, class: "field_label" %><%= f.date_field :quote_due_date %>
            </div>

          <div class="field">
            <%= f.label :order_ship_date, class: "field_label" %><%= f.date_field :order_ship_date %>
            </div>

          <div class="field">
            <%= f.label :installation_date, class: "field_label" %><%= f.date_field :order_installation_date %>
            </div>

          <div class="field">
            <%= f.label :artwork_due_date, class: "field_label" %><%= f.date_field :artwork_due_date %>
          </div>

          <div class="field">
            <%= f.label :quote_amount, class: "field_label" %><%= f.text_field :quote_amount %>
          </div>

          <div class="field">
            <%= f.label :artwork_proof_link, class: "field_label" %><%= f.text_field :artwork_proof_link %>
          </div>

          <div class="field">
            <%= f.label :quote_link, class: "field_label"  %><%= f.text_field :quote_link %>
            </div>
          
        </div>
        </span>
      </div>
      <div style="clear:both;"></div>
      <div class="actions">
        <%= f.button :submit %>
      </div>
      </div>

      </div>

      <div style="clear:both;"></div>

      </div>

    </section>

<% end %>
