<nav>
      <ul class="group" style="width: 270px;">
        <li><%= link_to 'New Quote', new_quote_path %></li>
  </ul>
</nav>

<section id="main-content">
  <div id="guts">
      <ul id="sort"> 
        <li><%= link_to "ID", :sort => "id" %></li>
        <li><%= link_to "Company Name", :sort => "company_name" %></li>
        <li><%= link_to "Quote Due Date", :sort => "quote_due_date" %></li>
        <li><%= link_to "Artwork Due Date", :sort => "artwork_due_date" %></li>
        <li><%= link_to "Ship Date", :sort => "order_ship_date" %></li>
        <li><%= link_to "Quote Status", :sort => "quote_status" %></li>
      </ul>
    
<% @quote.each do |quote| %>
      <ul id="sort"> 
        <li>Q#<%= quote.id %></li>
        <li><%= quote.company_name %></li>
        <li><%= quote.quote_due_date %></li>
        <li><%= quote.order_ship_date %></li>
        <li><%= quote.artwork_due_date %></li>
        <li><%= quote.quote_status %></li>
        <div style="clear:both;"></div>
      <%= link_to 'View Quote', quote, :class=>:show %> 
      <%= link_to 'Edit', edit_quote_path(quote), :class=>:edit %> 
      <%= link_to 'Delete', quote_path(quote), :method=>:delete, :class=>:destroy, :confirm => 'Are you sure?' %>
      </ul>
    <% end %>

        </div>

    </section>



<div style="clear:both"></div>
