<section id="main-content">
  <div id="guts">

<h1>Listing customers | <span class="new"><%= link_to 'New Customer', new_customer_path %></span></h1>

<% @customer.each do |customer| %>
    <div id="quote">
      <h4>#<%= customer.id %> | <%= customer.company_name %></h4>
      <div style="clear:both;"></div>
        <ul style="width: 250px;list-style-type: none;margin-left: -45px;">
          <li style="float:left;"><%= button_to 'Edit', edit_customer_path(customer) %></li>
          <li style="float:left;"><%= button_to "delete", customer_path(customer), :method=>:delete, :class=>:destroy %></li>
          <li style="float:left;"><%= button_to 'View Quote', customer %></li>
        </ul>
    </div>
    <% end %>

      </div>
  </section>
